
<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
    <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-2-8/css/5-2-8.css">
    <meta name="description"  content="書籍'動くWebデザインアイディア帳'のサンプルサイトです">

  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
  <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" />
  <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/css/6-2-1.css">
  
  </head>

  

  <body>
   <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><p class="fadeIn">MY SAKE</p></h1>
        <% if user_signed_in? %>
        <div id="navArea">

          <nav>
            <div class="inner">
            
              <ul>
                <li><%= current_user.name %></li>
                <li><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
                <li><%= link_to "投稿する", new_ranking_path, class: "post" %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></li>
                
              </ul>
            </div>
    </nav>
          <div class="openbtn8"><div class="openbtn-area"><span></span><span></span><span></span></div></div>
           <% else %>
           <nav>
            <div class="inner">
            <ul>
            <li><%= link_to "ログイン", new_user_session_path, class: "post" %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: "post" %></li>
            </ul>
            </div>
          </nav>
           <div class="openbtn8"><div class="openbtn-area"><span></span><span></span><span></span></div></div>
           
        <% end %>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
            <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-2-8/js/5-2-8.js"></script>
              
      
         


    </header>

    <%= yield %>

    <script>
      (function($) {
        var $body   = $('body');
        var $btn   = $('.openbtn8');
        var $mask  = $('#mask');
        var open   = 'open'; // class
        // menu open close
        $btn.on( 'click', function() {
          if ( ! $body.hasClass( open ) ) {
            $body.addClass( open );
          } else {
            $body.removeClass( open );
          }
        });
        // mask close
        $mask.on('click', function() {
          $body.removeClass( open );
        });
      } )(jQuery);  

      $(".openbtn8").click(function () {
      $(this).toggleClass('active');
      });
    </script>

    <script>
    function fadeAnime(){
      
      $('.gallery li').each(function(){ 
          var elemPos = $(this).offset().top;
          var scroll = $(window).scrollTop();
          var windowHeight = $(window).height();
          if (scroll >= elemPos - windowHeight){
              $(this).addClass('flipLeft');
          }else{
              $(this).removeClass('flipLeft');
          }
      });
      }

      
      $(window).scroll(function (){
          fadeAnime();
        });

      
      $(window).on('load', function(){
          fadeAnime();
        });
    </script>   

    <script>
          function toggleNav() {
        const body = document.body;
        const openbtn8 = document.getElementById("js_openbtn8");
        const mask = document.getElementById("js_mask");

        
        openbtn8.addEventListener("click", function () {
          body.classList.toggle("open_nav"); 
        });

        
        overlay.addEventListener("click", function () {
          body.classList.remove("open_nav"); // 
        });
      }

      toggleNav();
    </script>

  </body>






  <body>

  <div class="wrapper">

  
  <% @rankings.each do |ranking| %>
    < class="content_post" style="background-image: url(<%= ranking.image %>);">
      <p><%= ranking.text %></p>
      <span class="name">
        <%= ranking.name %>
      </span>
    
  <% end %>
</div>
  
  

  <ul class="gallery">
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/01.jpg" data-lightbox="gallery1" data-title="投稿者/タイトル"><img src="https://sakemirai.sakenowa.com/pictures/GOx7ey3FiJ1LX?d=750x1000" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/02.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/02.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/03.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/03.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/04.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/04.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/05.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://sakemirai.sakenowa.com/pictures/1Tima3fPiSF1Xk?d=750x1000" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/06.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/06.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/07.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/07.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/08.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/08.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/09.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/09.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/10.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/10.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/11.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/11.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/12.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/12.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/13.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/13.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/14.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/14.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/15.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/15.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/16.jpg" data-lightbox="gallery1" data-title="グループ1キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/16.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/17.jpg" data-lightbox="gallery2" data-title="グループ2キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/17.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/18.jpg" data-lightbox="gallery2" data-title="グループ2キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/18.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/19.jpg" data-lightbox="gallery2" data-title="グループ2キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/19.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/20.jpg" data-lightbox="gallery2" data-title="グループ2キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/20.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/21.jpg" data-lightbox="gallery2" data-title="グループ2キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/21.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/22.jpg" data-lightbox="gallery2" data-title="グループ2キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/22.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/23.jpg" data-lightbox="gallery2" data-title="グループ2キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/23.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/24.jpg" data-lightbox="gallery2" data-title="グループ2キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/24.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/25.jpg" data-lightbox="gallery3" data-title="グループ3キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/25.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/26.jpg" data-lightbox="gallery3" data-title="グループ3キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/26.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/27.jpg" data-lightbox="gallery3" data-title="グループ3キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/27.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/28.jpg" data-lightbox="gallery3" data-title="グループ3キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/28.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/29.jpg" data-lightbox="gallery3" data-title="グループ3キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/29.jpg" alt=""></a></li>
    <li><a href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/30.jpg" data-lightbox="gallery3" data-title="グループ3キャプション"><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/img/30.jpg" alt=""></a></li>
  </ul>
<!--/wrapper--></div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-1/js/6-2-1.js"></script>
</body>
</html>


<footer>
      <p>
        Copyright MY SAKE 2023.
      </p>
    </footer>