

<%= stylesheet_link_tag "rankingsnew", "data-turbo-track": "reload" %>

  <form id="form" class="topBefore">
    <h3>投稿する</h3>
    <%= form_with(model: @rankings, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "name" %>
      <%= form.text_field :image, placeholder: "Image Url" %>
      <%= form.text_area :text, placeholder: "text", rows: "5" %>
      <%= form.submit "GO!" %>
      
      
    <% end %>

  </form>



  