
 

<%= stylesheet_link_tag "registrations", "data-turbo-track": "reload" %>
<form id="form" class="topBefore">
 <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: "new_user", class: "new_user", local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, maxlength: "6", placeholder: "name(6 characters maximum)" %>
      </div>

      <div class="field">
       
        <%= f.email_field :email, placeholder: "email" %>
      </div>

      <div class="field">
        
        
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password (6 characters minimum)" %>
      </div>

      <div class="field">
        
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation" %>
      </div><div class="contents row">
  <div class="container">
  

      <div class="field">
        
        <%= f.text_field :profile, placeholder: "profile" %>
      </div>
      <br>
      <%= f.select :taste_id, [["さわやか", "さわやか"], ["クセあり", "クセあり"], ["こっくり", "こっくり"], ["飲みやすい", "飲みやすい"]], include_blank: "taste?" %>
      
      <br>
      <%= f.select :preference_id, [["パリピ", "パリピ"], ["しっとり", "しっとり"], ["ガッツリ", "ガッツリ"], ["♾️", "♾️"]], include_blank: "mood?" %>
      
      <br>
      <%= f.select :flavor_id, [["フルーティ", "フルーティ"], ["芳醇", "芳醇"], ["パンチ", "パンチ"], ["特になし", "特になし"]], include_blank: "flavor?" %>
      
      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
  </div>
</div>
</form>
