<%= stylesheet_link_tag "sessions", "data-turbo-track": "reload" %>


  
    <h2>Log in</h2>
    <%= form_with model: @user, url: user_session_path, id: "new_user", class: "new_user", local: true do |f| %>
      <div class="field">
        
        <%= f.email_field :email, autofocus: true, placeholder: "email" %>
      </div>

      <div class="field">
        
        <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
      </div>

      

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  
